.play_again{
    /* width: 80%; */
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 26px;
    h1{
        margin-bottom: 2%;
    }
    button{
        width: 100%;
        padding: 2%;
        border: 2px solid var(--borders);
        border-radius: 10px;
    }
}


.user_pick_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picked_label {
    order: -1;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}

.winner-glow {
  position: relative;
  z-index: 2;
  animation: pulse 1.5s infinite ease-out;
}

/* Single glowing ring */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.15);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@media (min-width: 600px) {
    .user_pick_column {
        flex-direction: column-reverse;
    }
    .picked_label {
        order: 1;
        margin-bottom: 0;
        margin-top: 1rem;
    }
}


.button_rock{
     border:20px solid var(--rock_rgb);
     box-shadow:
        inset 0px 5px 1px rgba(0, 0, 0, 0.1), 0px 5px 1px rgb(151, 6, 33);

    @media screen and (max-width: 600px) {
           border: 17px solid var(--rock_rgb);
    }
    @media screen and (max-width: 400px) {
           border: 15px solid var(--rock_rgb);
    }
    
}
.button_scissors{
    border:20px solid var(--scissors_rgb);
    box-shadow:
        inset 0px 5px 1px rgba(0, 0, 0, 0.1), 0px 5px 1px hsl(39, 97%, 35%);

    @media screen and (max-width: 600px) {
           border: 17px solid var(--scissors_rgb);
    }
    @media screen and (max-width: 400px) {
           border: 15px solid var(--scissors_rgb);
    }
}
.button_paper{
    border:20px solid var(--paper_rgb);
    box-shadow:
        inset 0px 5px 1px rgba(0, 0, 0, 0.1), 0px 5px 1px hsl(230, 62%, 46%);

    @media screen and (max-width: 600px) {
           border: 17px solid var(--paper_rgb);
    }
    @media screen and (max-width: 400px) {
           border: 15px solid var(--paper_rgb);
    }
}

  .button_radius {
    @media screen and (max-width: 1200px) {
      height: 130px;
      width: 130PX;
    }
    @media screen and (max-width: 900px) {
            height: 95px;
            width: 95PX;
            img{
                width: 50%;
            }
    }
    @media screen and (max-width: 600px) {
            height: 100px;
            width: 100PX;
            img{
                width: 50%;
            }
    }
    @media screen and (max-width: 400px) {
            height: 65px;
            width: 65px;
    }
    }

