
#main-container-gallery{
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: white;
    width: 80%;
}
#main_container {
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: white;
    width: 50%;

    @media screen and (max-width: 1200px) {
        width: 65%;
    }
    @media screen and (max-width: 968px) {
        width: 60%;
    }

    @media screen and (max-width: 768px) {
        width: 80%;
    }
    @media screen and (max-width: 600px) {
        width: 100%;
    }

}


.main-board {
    width: 100%;
    border: 3px solid var(--borders);
    border-radius: 5px;
}

.logo {
    width: 100px;
    height: 60px;
    align-self: center;
    justify-self: left;
}

.main_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 5%;

}
.score {
    width: 20%;
    background-color: white;
    color: var(--score_text);

    h2 {
        margin: 5px;
        color: var(--dark_text);
    }

    h6 {
        margin: 5px;
    }

    p {
        margin: 5px;
    }

    text-align: center;
    border-radius: 5px;
}
.high-score{
    text-align: center;
    text-wrap: wrap;

}
.logout{
    position: absolute;
    transform: translate(35px, 0px);
    background-color:var(--borders);
    color: var(--score_text);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.logout:hover{
    background-color: red;
}
